<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin dashboard</title>
    </head>
    <body>
        <h2>Access granted to the admin.</h2>
        <a href="/admin/states">See states</a>
        <form action="/admin/allocate" method="post">
            <label>Start the allocation process: </label>
            <button type="submit">Start</button>
        </form>
        <% for(let i=0; i<candidates.length; i++) { %>
            <hr>
            <p>Name: <%= candidates[i].name %></p>
            <p>E-mail: <%= candidates[i].email %></p>
            <p>Roll number: <%= candidates[i].roll_no %></p>
            <p>Rank: <%= candidates[i].rank %></p>
            <p>Category: <%= candidates[i].category %></p>
            <p>Own Merit: <%= candidates[i].ownMerit %></p>
            <p style="color: green;">Allotted state: <%= candidates[i].allottedState %></p>
            <a href=<%= "/admin/candidate/" + candidates[i]._id %>>See preferences</a>
            <p><em>Update Rank and category</em></p>
            <form method="post" action=<%= "/admin/candidate/" + candidates[i]._id %>>
                <label>Rank: </label>
                <input type="text" name="rank" placeholder="Rank"><br>
                <label>Category: </label>
                <select name="category">
                    <option value="UR">Unreserved</option>
                    <option value="EWS">EWS</option>
                    <option value="OBC">OBC</option>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <option value="PwBD">PwBD</option>
                </select><br>
                <label>Own merit: </label>
                <select name="ownMerit">
                    <option value="NO">NO</option>
                    <option value="YES">YES</option>
                </select><br>
                <button type="submit">Update</button>
            </form>
            <!-- <p>Preferences: <%= candidates[i].preferences %></p> -->
            <!-- <% for(let j=0; j<candidates[i].preferences.length; j++) { %>
                <% if(j === 0) continue; %>
                <p style="color: blue;"><%= j %>. <%= candidates[i].preferences[j] %></p>
            <% } %> -->
        <% } %>
    </body>
</html>